.footer {
  // .footer__container
  &__container {
  }
  // .footer__body
  &__body {
    display: flex;
    @include adaptiveValue('padding-top', 60, 30);
    @include adaptiveValue('padding-bottom', 70, 30);
    @media (max-width: em(1430)) {
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 880px;
      margin: 0 auto;
    }
    // @media (max-width: em(630)) {
    //   padding-bottom: rem(10);
    // }
  }
  // .footer__info
  &__info {
  }
  // .footer__menu
  &__menu {
    flex: 1 1 auto;
  }
  // .footer__widjet
  &__widjet {
    flex: 0 1 rem(284);
    height: rem(166);
    max-width: rem(280);
    min-width: rem(280);
    background: url('@img/footer/discord.jpg') top / cover no-repeat;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
    @media (max-width: em(630)) {
      margin: 0 auto rem(40);
    }
  }
}

.info-footer {
  display: flex;
  @media (max-width: em(1430)) {
    padding-right: rem(20);
  }
  @media (max-width: em(855)) {
    margin-bottom: rem(50);
    display: block;
  }
  @media (max-width: em(630)) {
    text-align: center;
    flex: 1 0 100%;
    padding-right: rem(0);
    margin-bottom: rem(70);
  }
  // .info-footer__images
  &__images {
  }
  // .info-footer__logo
  &__logo {
    display: block;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
    @media (max-width: em(630)) {
      margin: 0 auto;
    }
  }
  // .info-footer__dev
  &__dev {
    position: relative;
    z-index: 4;
    @media (max-width: em(630)) {
      margin: 0 auto;
      display: inline-flex;
      transform: translateX(-6px);
      div {
        text-align: left !important;
      }
    }
  }
  // .info-footer__copy-block
  &__copy-block {
    max-width: rem(260);
    text-transform: uppercase;
    color: #d4d5de;
    transform: translateY(rem(12));
    @include adaptiveValue('margin-left', 40, 20);
    @media (max-width: em(855)) {
      margin: rem(15) 0 0;
      max-width: rem(200);
    }
    @media (max-width: em(630)) {
      margin: rem(15) auto 0;
    }
  }
  // .info-footer__copy
  &__copy {
    font-size: rem(14);
    color: lighten(#d4d5de, 15%);
    &:not(:last-child) {
      margin-bottom: em(15, 14);
    }
  }
  // .info-footer__text
  &__text {
    font-size: rem(10);
  }
}

.menu-footer {
  display: flex;
  align-items: flex-start;
  max-width: rem(899);
  margin: 0 rem(-10);
  @media (min-width: em(1650)) {
    padding: 0 rem(88);
  }
  @media (max-width: em(1650)) {
    @include adaptiveValue('padding-left', 50, 15);
    @include adaptiveValue('padding-right', 50, 15);
  }
  @media (max-width: em(1430)) {
    flex: 1 1 100%;
    width: 100%;
    order: 1;
    margin-top: rem(40);
    padding: 0;
    justify-content: space-between;
  }
  @media (max-width: em(630)) {
    flex-wrap: wrap;
    justify-content: center;
  }
  // .menu-footer__column
  &__column {
    padding: 0 rem(20) rem(20);
    @media (min-width: em(1430)) {
      flex: 0 1 33.333%;
    }
    @media (max-width: em(1430)) {
      padding: 0 rem(10) rem(20);
    }
    @media (max-width: em(630)) {
      flex: 0 1 50%;
      padding-bottom: rem(50);
    }
    @media (max-width: $mobileSmall) {
      flex: 1 0 100%;
    }
  }
  // .menu-footer__item
  &__item {
    @media (max-width: em(630)) {
      text-align: center;
    }
    // @media (max-width: em(320)) {
    //   max-width: 280px;
    //   text-align: center;
    //   margin: 0 auto;
    //   text-align: left;
    // }
  }
  // .menu-footer__title
  &__title {
    font-size: rem(18);
    color: #c48aff;
    text-transform: uppercase;
    margin-bottom: em(20, 18);
  }
  // .menu-footer__list
  &__list {
  }
  // .menu-footer__list-item
  &__list-item {
    &:not(:last-child) {
      margin-bottom: em(10, 12);
    }
  }
  // .menu-footer__list-link
  &__list-link {
    font-size: rem(12);
    line-height: 1;
    // line-height: math.div(30, 12);
    color: #d4d5de;
    text-transform: uppercase;
    // white-space: nowrap;
    @media (any-hover: hover) {
      &:hover {
        filter: brightness(216%) drop-shadow(0px 0px 10px darken($blueColor, 10%));
        color: $blueColor;
      }
    }
    // @media (max-width: em(580)) {
    //   font-size: rem(14);
    // }
  }
}
